@import url("https://use.typekit.net/mhm1fyn.css");
@import "tailwindcss" source("../../");

@font-face {
  font-family: fraunces;
  src: url('../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: fraunces;
  src: url('../fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: inter;
  src: url('../fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url('../fonts/InterTight-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
	font-family: tirugane;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Tirugane-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: tirugane;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Tirugane-Bold.ttf') format('truetype');
}

@font-face {
	font-family: tirugane;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Tirugane-Italic.ttf') format('truetype');
}

@font-face {
	font-family: tirugane;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Tirugane-Regular.ttf') format('truetype');
}

@font-face {
	font-family: brill;
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Brill-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: brill;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Brill-Bold.ttf') format('truetype');
}

@font-face {
	font-family: brill;
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Brill-Italic.ttf') format('truetype');
}

@font-face {
	font-family: brill;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Brill-Roman.ttf') format('truetype');
}

@theme {
	--font-serif: minion-3, system-ui, serif; /* pliego */
	--font-sans: inter, system-ui, sans-serif;
	--font-display: fraunces, system-ui, serif; /* p22-mackinac-pro */
	--font-tamil-serif: tiro-tamil, system-ui, sans-serif;
	--font-code: tirugane, sans-serif;
	--font-brill: brill, serif;
}

/* Page Formatting */
body { 
	@apply font-serif;
	@apply hyphens-auto;
	@apply max-w-3xl;
	@apply mx-auto;
}

/* Heading Styles */
h1 {
  @apply font-display;
  @apply text-4xl;
  @apply my-3;
	@apply font-light;
	@apply uppercase;
	@apply tracking-[2.5px];
	@apply mb-3;
	font-variation-settings: 'SOFT' 100, 'WONK' 0, 'opsz' 9, 'wght' 400;
}

h2 {
	@apply text-3xl/8;
	@apply mt-3;
	@apply mb-3;
	font-family: minion-3-display, serif;
}

h3 {
  @apply text-2xl/6;
  @apply italic;
	@apply mt-6;
	@apply mb-3;
	font-family: minion-3-subhead, serif;
}

h4 {
	@apply text-xl/5;
	font-variant: small-caps;
	@apply lowercase;
	@apply tracking-[1px];
	@apply text-center;
	@apply mt-3;
	@apply mb-3;
	font-family: minion-3-caption, serif;
}

p {
  @apply my-3;
	@apply text-lg/5;
	font-feature-settings: 'onum' 1;
}

hr {
	@apply text-slate-700/40;
  @apply my-5;
}

a {
	@apply text-cyan-700;
}

ol, ul {
	@apply text-sm;
	@apply ml-4;
	@apply my-4;
	@apply mx-4;
}

ol {
	@apply list-decimal;
}

li {
	@apply leading-[1.1];
	@apply my-[5px];
}

li::before {
	color: red;
}

a:hover {
  @apply underline;
}

table { 
	@apply mx-auto;
	@apply my-8;
}

td, th {
	@apply text-center; 
	@apply px-4;
}

thead {
	@apply border-t-[1.5px];
	@apply border-b-[0.75px];
}

tbody {
	@apply border-b-[1.5px];
}

code {
	@apply font-code;
}


/* Classes */

.dropdown {
	@apply my-1;
}

.dropdown-title {
	@apply font-semibold;
}

.tamil {
	@apply font-tamil-serif;
	@apply text-[0.95rem];
	@apply italic;
	font-variant-ligatures: historical-ligatures common-ligatures discretionary-ligatures;
}

.ling {
	@apply leading-none;
}
